@font-face {
  font-family: "raleway-bold";
  src: url("../assets/fonts/Raleway/static/Raleway-Bold.ttf");
}

.texto-sobre-imagen {
  display: none;
}

.container-fotos-index {
  background-image: url(../assets/img/index/lazo-arg.png);
  background-repeat: no-repeat;
  margin-top: 8rem;
  margin-bottom: 10rem;
  position: relative;
  background-size: contain;
}

.fila-fotos-box {
  display: flex;
  justify-content: center;
  gap: 7rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

.imagenBox {
  width: 100%;
  cursor: pointer;
}

.box-indexJM {
  background-color: #ffffff;
  width: 35%;
  height: 40%;
  position: absolute;
  top: 5%;
  right: 5%;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.box-indexVV {
  background-color: #ffffff;
  width: 35%;
  height: 40%;
  position: absolute;
  top: 58%;
  left: 5%;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.8s ease;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.box-vickyGala.active,
.box-vickyJavier.active,
.box-asuncion.active,
.box-eeuu.active,
.box-eduardo.active,
.box-vickyLibros.active,
.box-indexJM.active,
.box-indexVV.active {
  display: block;
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.texto-box {
  display: flex;
  flex-direction: column;
  padding: 8% 6%;
  height: 100%;
  justify-content: center;
}

.titulo-box {
  font-family: "raleway-regular";
  color: #000000;
  font-size: 3.6rem;
}

.titulo-box-dos {
  font-family: "raleway-bold";
  color: #000000;
  font-size: 3.6rem;
  padding-bottom: 2.5rem;
}

.subtitulo-box {
  font-family: "raleway-regular";
  color: #4e4e4e;
  font-size: 1.3rem;
  padding-bottom: 2.5rem;
}

.titulo-parrafo-box {
  font-family: "raleway-regular";
  color: #000000;
  font-size: 1.4rem;
  padding-bottom: 2rem;
}

.texto-parrafo-box {
  font-family: "raleway-regular";
  color: #000000;
  font-size: 1.4rem;
  text-align: justify;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .disable-hover {
    pointer-events: none;
  }

  .box-indexJM {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
    transition: opacity 0.8s ease, transform 0.8s ease;
  }

  .box-indexVV {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
    transition: opacity 0.7s ease, transform 0.8s ease;
  }

  .contenedor-imagen {
    position: relative;
  }

  .box-indexJM,
  .box-indexVV {
    z-index: 10;
  }

  .titulo-box {
    font-size: 1.8rem;
  }

  .titulo-box-dos {
    font-size: 1.8rem;
    padding-bottom: 1rem;
  }

  .subtitulo-box {
    font-size: 1.2rem;
    padding-bottom: 1rem;
  }

  .titulo-parrafo-box {
    font-size: 1.2rem;
    padding-bottom: 1rem;
  }

  .texto-parrafo-box {
    font-size: 1.2rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .disable-hover {
    pointer-events: none;
  }

  .fila-fotos-box {
    gap: 3rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .box-indexJM,
  .box-indexVV {
    width: 90%;
    max-width: 30rem;
    height: 45rem;
    padding: 2rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transform: translateX(-50%);
    transition: opacity 0.8s ease, transform 0.8s ease;
  }

  .titulo-box {
    font-size: 2.5rem;
  }

  .titulo-box-dos {
    font-size: 2.5rem;
  }

  .subtitulo-box {
    font-size: 1.2rem;
  }

  .titulo-parrafo-box {
    font-size: 1.2rem;
  }

  .texto-parrafo-box {
    font-size: 1.1rem;
  }

  .overlay.active {
    display: block;
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }

  .texto-sobre-imagen {
    display: block;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
  }

  .titulo-sobre-imagen {
    font-family: "raleway-bold";
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
  }

  .subtitulo-sobre-imagen {
    font-family: "raleway-regular";
    font-size: 1rem;
    margin: 0;
  }

  .imagenBox {
    position: relative;
    width: 100%;
  }

  .contenedor-imagen {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .disable-hover {
    pointer-events: none;
  }

  .fila-fotos-box {
    gap: 3rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .box-indexJM,
  .box-indexVV {
    width: 90%;
    max-width: 30rem;
    height: 45rem;
    padding: 2rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transform: translateX(-50%);
    transition: opacity 0.8s ease, transform 0.8s ease;
  }

  .titulo-box {
    font-size: 2.5rem;
  }

  .titulo-box-dos {
    font-size: 2.5rem;
  }

  .subtitulo-box {
    font-size: 1.2rem;
  }

  .titulo-parrafo-box {
    font-size: 1.2rem;
  }

  .texto-parrafo-box {
    font-size: 1.1rem;
  }

  .overlay.active {
    display: block;
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }

  .texto-sobre-imagen {
    display: block;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
  }

  .titulo-sobre-imagen {
    font-family: "raleway-bold";
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
  }

  .subtitulo-sobre-imagen {
    font-family: "raleway-regular";
    font-size: 1rem;
    margin: 0;
  }

  .imagenBox {
    position: relative;
    width: 100%;
  }

  .contenedor-imagen {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
}
