.fila-titulo-celtyv {
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-celtyv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: center;
}

.titulo-celtyv img {
  max-width: 38%;
  height: auto;
}

.container-parrafo-celtyv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: center;
}

.texto-titulo-celtyv {
  padding: 1.2rem;
  font-family: "raleway-medium";
  font-size: 2rem;
}

.foto-manos-celtyv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.foto-manos-celtyv img {
  max-width: 90%;
  height: auto;
  margin-bottom: 5rem;
}

.container-celtyvInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}
