.solDeMayo {
  width: 100%;
  height: auto;
  background-image: url(../assets/img/index/fondo-flyer.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 70%;
}
