.flyer-home-wrapper {
  margin-bottom: 8rem;
}

.solDeMayo {
  width: 100%;
  height: auto;
  background-image: url(../assets/img/index/fondo-flyer.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 70%;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .flyer-home-wrapper {
    margin-bottom: 6rem;
  }
}

@media (max-width: 767px) {
  .flyer-home-wrapper {
    margin-bottom: 4rem;
  }
}

@media (max-width: 480px) {
  .flyer-home-wrapper {
    margin-bottom: 3rem;
  }
}
