.galeria-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  transition: 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

/* .galeria-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 0;
} */

.galeria-content {
  text-align: center;
}

.titulo {
  font-size: 2.5rem;
  font-weight: bold;
}

.descripcion {
  font-size: 1.2rem;
  max-width: 600px;
  margin: 10px auto;
}

.miniatura {
  width: 30rem;
  height: 40rem;
  object-fit: cover;
  cursor: pointer;
  border-radius: 5rem;
  transition: transform 0.3s ease;
  border: 1rem solid white;
}

.boton-siguiente {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid white;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.boton-siguiente:hover {
  background-color: white;
  color: black;
}
