.carousel-galeria {
  position: relative;
  height: 100vh;
  z-index: 1;
}

.galeria-slide {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.galeria-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Oscurecer imagen */
  z-index: 1;
}

.galeria-title {
  font-size: 5rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  z-index: 2;
}

.galeria-button {
  font-size: 1.2rem;
  padding: 10px 30px;
  border-radius: 30px;
  z-index: 2;
}
