/* Estilos para pantallas m치s grandes (desde 768px en adelante) */
@media (min-width: 1064px) {
  .galeria-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    transition: 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .galeria-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 0;
  }

  .galeria-content {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    text-align: center;
    position: relative; /* 游댯 Evita que quede bloqueado por capas invisibles */
  }

  .galeria-texto {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .carousel-galeria {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .galeria-texto .titulo {
    font-size: 10rem;
    font-family: "raleway-semibold";
  }

  .galeria-texto .descripcion {
    font-family: "raleway-regular";
    font-size: 1.5rem;
    max-width: 600px;
    margin: 10px auto;
    text-align: justify;
  }

  .miniatura {
    width: 50rem;
    height: 0rem;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5rem;
    transition: transform 0.3s ease;
    border: 1rem solid white;
  }
}

/* Estilos para pantallas m치s grandes (desde 768px en adelante) */
@media (min-width: 768px) {
  .galeria-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    transition: 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .galeria-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 0;
  }

  .galeria-content {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    text-align: center;
    position: relative; /* 游댯 Evita que quede bloqueado por capas invisibles */
  }

  .galeria-texto {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .carousel-galeria {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .titulo {
    font-size: 2.5rem;
    font-weight: bold;
  }

  .descripcion {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 10px auto;
  }

  .miniatura {
    width: 30rem;
    height: 45rem;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5rem;
    transition: transform 0.3s ease;
    border: 1rem solid white;
  }

  .galeria-botones {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50rem;
  }
  .boton-siguiente {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid white;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
  }

  .boton-siguiente:hover {
    background-color: white;
    color: black;
  }
}
/* Estilos para pantallas m치s peque침as (hasta 468px) */
@media (max-width: 468px) {
  .galeria-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    transition: 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .galeria-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 0;
  }

  .galeria-content {
    text-align: center;
    margin-top: 3.5rem;
    position: relative; /* 游댯 Evita que quede bloqueado por capas invisibles */
  }

  .galeria-texto {
    width: 100%;
    padding: 1.5rem;
  }

  .carousel-galeria {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56vh;
  }

  .titulo {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    font-family: "raleway-bold";
  }

  .descripcion {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 10px auto;
    margin-bottom: 2rem;
    font-family: "raleway-regular";
  }

  .miniatura {
    width: 30rem;
    height: 39.5rem;
    object-fit: cover;
    border-radius: 5rem;
    transition: transform 0.3s ease;
    border: 0.9rem solid white;
  }

  .boton-siguiente {
    margin-top: 3rem;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid white;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
  }

  .boton-siguiente:hover {
    background-color: white;
    color: black;
  }
}
