.carousel-galeria-visor {
  position: relative;
  height: 100vh;
  z-index: 1;
}

.galeria-slide {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
}

.galeria-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Oscurecer imagen */
  z-index: 1;
}

.galeria-title {
  font-size: 20rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: lighter;
  text-transform: uppercase;
  background: linear-gradient(to top, #2f2f2f, #ffffff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 2;
  opacity: 0.7;
}

button.galeria-button {
  font-size: 1.2rem;
  color: white;
  padding: 1rem 5rem;
  border-radius: 3rem;
  border-color: white;
  z-index: 1;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

button.galeria-button:hover {
  background-color: rgba(169, 169, 169, 0.4);
  border-color: white;
  color: white;
}

@media (min-width: 768px) and (max-width: 1063px) {
  .galeria-title {
    font-size: 12rem;
    text-align: center;
  }

  button.galeria-button {
    font-size: 1.2rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .galeria-title {
    font-size: 10rem;
  }
}

@media (max-width: 480px) {
  .galeria-title {
    font-size: 4.8rem;
    text-align: center;
  }

  button.galeria-button {
    font-size: 1.1rem;
  }
}
