* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "raleway-regular";
  src: url("../assets/fonts/Raleway/static/Raleway-Regular.ttf");
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.vvIndex img {
  width: 25rem;
  margin-right: 8rem;
  margin-left: 6rem;
  padding-top: 1.8rem;
  padding-bottom: 1.5rem;
}

.navbar .nav-items {
  margin-right: 8rem;
  font-size: 1.7rem;
  font-family: "raleway-regular";
}

.navbar .nav-items-contacto {
  margin-right: 6rem;
  font-size: 1.7rem;
  font-family: "raleway-regular";
}
