.fila-titulo-malvinas {
  padding: 5rem;
}

.titulo-malvinas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  margin: 4rem 4rem;
}

.titulo-malvinas img {
  max-width: 100%;
  height: auto;
}

.fila-malvinas {
  display: flex;
  justify-content: space-around;
  margin-bottom: 7rem;
}

.columna-malvinas {
  display: flex;
  justify-content: center;
  align-items: center;
}
.titulo-parrafo-malvinas {
  font-family: "raleway-bold";
  color: #031f42;
  font-size: 2rem;
  text-align: justify;
  padding: 1.2rem;
}
.parrafo-malvinas {
  font-family: "raleway-regular";
  color: #000000;
  font-size: 1.5rem;
  text-align: justify;
  padding: 1.5rem;
  line-height: 180%;
}

.imagen-malvinas img {
  width: 100%;
  filter: grayscale(1);
  cursor: pointer;
  transition-duration: 1s;
  border-radius: 8px;
}

.imagen-malvinas img:hover {
  transition: filter 0.8s ease transform 0.8s ease;
  filter: grayscale(0);
  transform: scale(1.1);
}

.container-parrafo-malvinas {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0 10rem 0;
}

.parrafo-malvinas-final {
  color: #031f42;
  font-family: "raleway-regular";
  font-size: 3rem;
}

@media (max-width: 768px) {
  .titulo-malvinas {
    margin: 0;
  }

  .parrafo-malvinas-final {
    font-size: 1.9rem;
    text-align: justify;
  }
}

@media (max-width: 480px) {
  .fila-titulo-malvinas {
    padding: 3rem;
  }
  .titulo-malvinas {
    margin: 0;
  }

  .titulo-malvinas img {
    width: 70%;
  }

  .fila-malvinas {
    flex-direction: column;
    margin-bottom: 3rem;
  }

  .imagen-malvinas img {
    padding: 2rem 4rem 4rem 4rem;
    filter: grayscale(0);
    border-radius: 8px;
  }

  .imagen-malvinas img:hover {
    transform: none;
  }
  .titulo-parrafo-malvinas {
    font-size: 1.5rem;
    padding: 1.5rem;
  }
  .parrafo-malvinas {
    font-size: 1.3rem;
    padding: 0 3rem 0 3rem;
    line-height: 200%;
  }

  .container-parrafo-malvinas {
    padding: 5rem 1rem 8rem 1rem;
  }

  .parrafo-malvinas-final {
    font-size: 1.7rem;
    text-align: center;
  }
}
