.fila-titulo-malvinas {
  padding: 5rem;
}

.titulo-malvinas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  margin: 4rem 4rem;
}

.titulo-malvinas img {
  max-width: 100%;
  height: auto;
}

.cita {
  font-style: italic;
  color: #555;
  border-left: 4px solid #0037a0;
  padding-left: 1rem;
  margin: 1rem 0;
}

.tema-fecha {
  font-family: "raleway-regular";
  color: #555;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 0.5rem;
}

.fila-malvinas {
  margin-bottom: 3rem;
}

.container-titulo {
  padding: 2rem;
  margin-bottom: 2rem;
}

.titulo-parrafo-malvinas {
  font-family: "raleway-bold";
  color: #0037a0;
  font-size: 2.5rem;
  text-align: center;
}

.parrafo-malvinas {
  font-family: "raleway-regular";
  color: #000000;
  font-size: 1.8rem;
  text-align: justify;
  padding: 1.5rem;
  line-height: 180%;
}

.imagen-malvinas {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen-malvinas img {
  width: 90%;
  filter: grayscale(1);
  cursor: pointer;
  transition-duration: 1s;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.imagen-malvinas img:hover {
  transition: filter 0.8s ease transform 0.8s ease;
  filter: grayscale(0);
}

.contenedor-parrafo-malvinas {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0 1.5rem 0;
}

.parrafo-malvinas-final {
  color: #0037a0;
  font-family: "raleway-regular";
  font-size: 3rem;
  text-align: center;
  padding-bottom: 8rem;
}

@media (max-width: 768px) {
  .titulo-malvinas {
    margin: 0;
  }

  .cita {
    margin: 2rem 0;
  }
  .parrafo-malvinas-final {
    font-size: 1.9rem;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .fila-titulo-malvinas {
    padding: 3rem;
  }
  .titulo-malvinas {
    margin: 0;
  }

  .titulo-malvinas img {
    width: 70%;
  }

  .fila-malvinas {
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .imagen-malvinas img {
    filter: grayscale(0);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }

  .imagen-malvinas img:hover {
    transform: none;
  }
  .titulo-parrafo-malvinas {
    font-size: 1.8rem;
    padding: 1.5rem;
  }
  .parrafo-malvinas {
    font-size: 1.5rem;
    padding: 0 3rem 0 3rem;
    line-height: 200%;
  }

  .cita {
    margin: 2rem 0;
  }

  .container-titulo {
    padding: 1.5rem;
    margin-bottom: 1rem;
  }

  .parrafo-malvinas-final {
    font-size: 1.7rem;
    text-align: center;
    padding-bottom: 5rem;
  }
}
