* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "raleway-regular";
  src: url("../assets/fonts/Raleway/static/Raleway-Regular.ttf");
}

/* Navbar transparente en galería */
.navbar-transparent {
  position: absolute !important;
  background-color: transparent;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
}

.navbar-gallery .nav-dropdown .dropdown-menu {
  background-color: rgba(169, 169, 169, 0.4) !important;
  border: none;
}

.nav-dropdown .dropdown-menu {
  background-color: rgba(214, 211, 211, 0.4) !important;
  border: none;
}

.navbar-gallery .nav-dropdown .nav-items-drop:hover {
  background-color: rgba(169, 169, 169, 0.4) !important;
}

.navbar-gallery {
  color: white;
}

.navbar-gallery .nav-items,
.navbar-gallery .nav-items-contacto {
  color: white !important;
}

.navbar-gallery .nav-dropdown .nav-link,
.navbar-gallery .nav-dropdown .nav-items-drop {
  color: white !important;
}

/* Navbar normal en otras páginas */
.navbar-normal {
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.vvIndex img {
  width: 23rem;
  margin-right: 8rem;
  margin-left: 6rem;
  padding-top: 1.8rem;
  padding-bottom: 1.5rem;
}

.navbar .nav-items {
  margin-right: 8rem;
  font-size: 1.7rem;
  font-family: "raleway-regular";
}

.navbar .nav-items-contacto {
  margin-right: 6rem;
  font-size: 1.7rem;
  font-family: "raleway-regular";
}

.nav-items-drop {
  font-family: "raleway-regular";
  font-size: 1.7rem;
}

/*MEDIA QUERIES*/

@media (min-width: 768px) and (max-width: 1300px) {
  .vvIndex img {
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .navbar {
    margin-left: 1.8rem;
    margin-right: 1.8rem;
  }

  .navbar .nav-items {
    margin-right: 7rem;
  }
}

@media (max-width: 480px) {
  .vvIndex img {
    width: 15rem;
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .navbar .nav-items {
    font-size: 1.4rem;
  }

  .navbar .nav-items-contacto {
    font-size: 1.4rem;
  }

  .nav-items-drop {
    font-size: 1.3rem;
  }

  .navbar {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

/*MEDIA QUERIES*/
