.container-fotos-victoria {
  margin-top: 12rem;
  margin-bottom: 20rem;
  position: relative;
  background-image: url(../assets/img/index/lazo-arg.png);
  background-repeat: repeat;
}

.box-vickyGala {
  background-color: #ffffff;
  width: 45rem;
  height: 58rem;
  position: absolute;
  top: 6rem;
  left: 9rem;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.box-vickyJavier {
  background-color: #ffffff;
  width: 45rem;
  height: 58rem;
  position: absolute;
  top: 82rem;
  left: 81rem;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.box-asuncion {
  background-color: #ffffff;
  width: 45rem;
  height: 58rem;
  position: absolute;
  top: 160rem;
  left: 9rem;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.box-eeuu {
  background-color: #ffffff;
  width: 45rem;
  height: 58rem;
  position: absolute;
  top: 235rem;
  left: 81rem;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.box-eduardo {
  background-color: #ffffff;
  width: 45rem;
  height: 58rem;
  position: absolute;
  top: 312rem;
  left: 9rem;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.box-vickyLibros {
  background-color: #ffffff;
  width: 45rem;
  height: 58rem;
  position: absolute;
  top: 388rem;
  left: 81rem;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.link-vickyGala {
  font-family: "montserrat-medium";
  font-size: 1.3rem;
  color: #0037a0;
  padding-top: 7rem;
}

.link-vickyJavier {
  font-family: "montserrat-medium";
  font-size: 1.3rem;
  color: #0037a0;
  padding-top: 4rem;
}

.link-vickyAsuncion {
  font-family: "montserrat-medium";
  font-size: 1.3rem;
  color: #0037a0;
  padding-top: 1.5rem;
}

.link-vickyEeuu {
  font-family: "montserrat-medium";
  font-size: 1.3rem;
  color: #0037a0;
  padding-top: 9rem;
}

.link-vickyEduardo {
  font-family: "montserrat-medium";
  font-size: 1.3rem;
  color: #0037a0;
  padding-top: 3rem;
}

.link-vickyLibros {
  font-family: "montserrat-medium";
  font-size: 1.3rem;
  color: #0037a0;
  padding-top: 20rem;
}

@media (max-width: 768px) {
  .container-fotos-victoria {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }

  /* .box-vickyGala {
    width: 25rem;
    height: 34rem;
    top: 2.5rem;
    left: 6.5rem;
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
    transition: none;
  }

  .box-vickyJavier {
    width: 25rem;
    height: 34rem;
    top: 47.5rem;
    left: 45rem;
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
    transition: none;
  }

  .box-asuncion {
    width: 25rem;
    height: 35rem;
    top: 93rem;
    left: 6.5rem;
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
    transition: none;
  }

  .box-eeuu {
    width: 25rem;
    height: 34rem;
    top: 138rem;
    left: 45rem;
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
    transition: none;
  }

  .box-eduardo {
    width: 25rem;
    height: 34rem;
    top: 184rem;
    left: 6.5rem;
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
    transition: none;
  }

  .box-vickyLibros {
    width: 25rem;
    height: 34rem;
    top: 229rem;
    left: 45rem;
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
    transition: none;
  } */

  /* .texto-box-victoria {
    padding-top: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .titulo-box-victoria {
    font-size: 2rem;
  }

  .subtitulo-box-victoria {
    font-size: 1rem;
    padding-bottom: 1rem;
  }

  .titulo-box-victoriaDos {
    font-size: 2rem;
    padding-bottom: 1rem;
  }

  .texto-parrafo-box-victoria {
    font-size: 1rem;
  } */

  .link-vickyGala {
    padding-top: 1.5rem;
    font-size: 1.1rem;
  }

  .link-vickyJavier {
    padding-top: 0.2rem;
    font-size: 1.1rem;
  }

  .link-vickyAsuncion {
    padding-top: 0.1rem;
    font-size: 1.1rem;
  }

  .link-vickyEeuu {
    padding-top: 5rem;
    font-size: 1.1rem;
  }

  .link-vickyEduardo {
    padding-top: 1.5rem;
    font-size: 1.1rem;
  }

  .link-vickyLibros {
    padding-top: 10rem;
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .container-fotos-victoria {
    margin-top: 5rem;
    margin-bottom: 8rem;
  }

  .fila-fotos-box {
    gap: 3rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .box-vickyGala,
  .box-vickyJavier,
  .box-asuncion,
  .box-eeuu,
  .box-eduardo,
  .box-vickyLibros {
    width: 90%;
    max-width: 30rem;
    height: 42rem;
    padding: 2rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.8s ease, transform 0.8s ease;
  }

  .link-vickyGala {
    font-size: 0.6rem;
    padding-top: 1rem;
  }

  .link-vickyJavier {
    font-size: 0.6rem;
    padding-top: 0.6rem;
  }

  .link-vickyAsuncion {
    font-size: 0.5rem;
    padding-top: 0.2rem;
  }

  .link-vickyEeuu {
    font-size: 0.7rem;
    padding-top: 2.5rem;
  }

  .link-vickyEduardo {
    font-size: 0.7rem;
    padding-top: 0.5rem;
  }

  .link-vickyLibros {
    font-size: 0.7rem;
    padding-top: 4rem;
  }
}
