.container-fotos-victoria {
  margin-top: 5rem;
  margin-bottom: 20rem;
  position: relative;
  background-image: url(../assets/img/index/lazo-arg.png);
  background-repeat: repeat;
  background-size: contain;
}

.box-vickyGala {
  background-color: #ffffff;
  width: 35%;
  height: 12%;
  position: absolute;
  top: 2%;
  left: 5%;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.box-vickyJavier {
  background-color: #ffffff;
  width: 35%;
  height: 12%;
  position: absolute;
  top: 19%;
  right: 5%;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.8s ease;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.box-asuncion {
  background-color: #ffffff;
  width: 35%;
  height: 12%;
  position: absolute;
  top: 36%;
  left: 5%;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.8s ease;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.box-eeuu {
  background-color: #ffffff;
  width: 35%;
  height: 12%;
  position: absolute;
  top: 53%;
  right: 5%;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.8s ease;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.box-eduardo {
  background-color: #ffffff;
  width: 35%;
  height: 12%;
  position: absolute;
  top: 70%;
  left: 5%;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.8s ease;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.box-vickyLibros {
  background-color: #ffffff;
  width: 35%;
  height: 12%;
  position: absolute;
  top: 87%;
  right: 5%;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.8s ease;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container-fotos-victoria {
    margin-top: 5rem;
    margin-bottom: 15rem;
  }
  .box-vickyGala,
  .box-vickyJavier,
  .box-asuncion,
  .box-eeuu,
  .box-eduardo,
  .box-vickyLibros {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
    transition: opacity 0.8s ease, transform 0.8s ease;
    z-index: 10;
  }

  .link-vickyGala {
    padding-top: 1rem;
  }

  .link-vickyJavier {
    padding-top: 1rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .container-fotos-victoria {
    margin-top: 5rem;
    margin-bottom: 8rem;
  }

  .box-vickyGala,
  .box-vickyJavier,
  .box-asuncion,
  .box-eeuu,
  .box-eduardo,
  .box-vickyLibros {
    width: 90%;
    max-width: 34rem;
    height: 53rem;
    padding: 2rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.8s ease, transform 0.8s ease;
    transform: translateX(-50%);
  }
}

@media (max-width: 480px) {
  .container-fotos-victoria {
    margin-top: 5rem;
    margin-bottom: 8rem;
  }

  .fila-fotos-box {
    gap: 3rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .box-vickyGala,
  .box-vickyJavier,
  .box-asuncion,
  .box-eeuu,
  .box-eduardo,
  .box-vickyLibros {
    width: 90%;
    max-width: 34rem;
    height: 53rem;
    padding: 2rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.8s ease, transform 0.8s ease;
    transform: translateX(-50%);
  }
}
